# -----------------------------------
# Python cache & compiled files
# -----------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.xlsx
*.pdf

# -----------------------------------
# Virtual environments
# -----------------------------------
.venv/
venv/

# -----------------------------------
# Environment variables & secrets
# -----------------------------------
.env
*.env

# -----------------------------------
# SQLite (local dev only)
# -----------------------------------
*.sqlite3
# **/migrations/*


# -----------------------------------
# Django static & media (generated)
# -----------------------------------
# static/
# media/

# -----------------------------------
# Node / Frontend
# -----------------------------------
node_modules/
npm-debug.log
dist/

# -----------------------------------
# IDE / Editor files
# -----------------------------------
.idea/
.vscode/
*.swp

# -----------------------------------
# Test & coverage artifacts
# -----------------------------------
.coverage
.pytest_cache/

# -----------------------------------
# Project-specific
# -----------------------------------
Notes/
data/

# -----------------------------------
# OS files
# -----------------------------------
.DS_Store
